<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!isReturnView" auto-hide="false">
        <ion-icon src="assets/icon/general/menu.svg"></ion-icon>
      </ion-menu-button>
      <ion-back-button [defaultHref]="backPage" *ngIf="isReturnView">
        <ion-icon src="assets/icon/arrows/back.svg"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="showTitle">Happy Mind</ion-title>
    <ion-buttons *ngIf="!isReturnView" slot="end">
      <ion-menu-button auto-hide="false">
        <ion-icon src="assets/icon/general/notification.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
