#boxes * {
  border: 1px solid transparent;
}

#boxes {
  display: flex;
  flex-direction: column;
  /*max-width: 100%;*/
  margin: auto;
  height: auto;
  /* padding-block: 60px; */
  padding: 16px;
}

#player01 {
  grid-area: A;
  padding: 50px 38px;
}

#player01 .wrapper {
  width: 190px;
}

#player01 img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
}

#player01 .info {
  padding-top: 28px;
}

#player02 {
  grid-area: B;
  height: fit-content;
  iframe {
    height: 225px;
    border-radius: 16px;
  }
}

#player02 .controls {
  display: flex;
  justify-content: space-around;
}

#player03 {
  grid-area: C;
}

#player03 .controls {
  display: flex;
  justify-content: space-around;
}

.player {
  background-color: #b2b2b2;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 12px;
  ion-icon {
    font-size: 32px;
  }
}

.player img {
  width: 84px;
  height: 84px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  color: #e1e1e6;
}

.info p {
  opacity: 0.68;
  font-size: 19px;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.player h1 {
  font-size: 27px;
  color: #e1e1e6;
  padding-bottom: 7px;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.track {
  padding-top: 28px;
  position: relative;
}

.track::before {
  content: "";
  height: 6px;
  width: 100%;
  display: block;
  background: #d9d9d9;
  opacity: 0.3;
  border-radius: 10px;
  position: absolute;
}

.track::after {
  content: "";
  height: 6px;
  width: 85%;
  display: block;
  background: #d9d9d9;
  border-radius: 10px;
}

.time {
  opacity: 0.7;
  font-size: 14px;
  color: gainsboro;

  display: flex;
  justify-content: space-between;
  padding-top: 9.6px;
}

@media (max-width: 670px) {
  #boxes {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
  }
}
