<app-header [showTitle]="false" [isReturnView]="true" backPage="/login"></app-header>

<ion-content>
  <div class="content-chat">
    <div class="chat">
      <div class="contact bar">
        <div class="pic doctor"></div>
        <div class="name">
          Dr. Monterroso
        </div>
        <div class="seen">
          En linea
        </div>
      </div>
      <div class="messages" id="chat">
        <div class="time">
          Hoy
        </div>
        <div class="message paciente">
          Hola doctor tiene un minuto? 👋
        </div>
        <div class="message doctor">
          Claro dime como te encuentras?
        </div>
        <div class="message paciente">
          realmente he estado muy feliz por su ayuda! 🤣
        </div>
        <div class="message paciente">
          hoy di un gran paso en la terapia? 🤔
        </div>
        <div class="message doctor">
          en serio eso es realmente bueno
        </div>
        <div class="message doctor">
          <div class="typing typing-1"></div>
          <div class="typing typing-2"></div>
          <div class="typing typing-3"></div>
        </div>
      </div>
      <div class="input">
        <i class="fas fa-camera"></i><i class="far fa-laugh-beam"></i><input placeholder="Type your message here!"
          type="text" /><i class="fas fa-microphone"></i>
      </div>
    </div>
  </div>
</ion-content>
