<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="container-image">
      <img alt="Silhouette of mountains" class="blur-image"
        src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <div class="image">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <div class="backdrop"></div>
        <div class="preview-images">
          <div class="preview-image">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </div>
          <div class="preview-image">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          </div>
        </div>
      </div>

      <div class="content-store">
        <div class="content-title">
          <div class="tilte-store">Autocar GT</div>
          <div class="rating">
            <ion-icon src="assets/icon/general/star.svg"></ion-icon>
            <div class="number-rate">5</div>
          </div>
        </div>


        <div class="description-store">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non soluta totam animi.
          Numquam sit minus odit autem delectus facilis facere mollitia ad itaque, et quia est doloribus molestiae
          quaerat explicabo.</div>

        <div class="content-categories">
          <div class="horizontal-scroll">
            <div class="horizontal-scroll__item">
              <p class="tag_1">
                <ion-icon src="assets/icon/types-mechanic/enderezado.svg"></ion-icon> <span
                  class="title-category">Enderezado</span>
              </p>
            </div>
            <div class="horizontal-scroll__item" style="flex:0 0 120px;">
              <p class="tag_3">
                <ion-icon src="assets/icon/types-mechanic/pinter.svg"></ion-icon> <span
                  class="title-category">Pintura</span>
              </p>
            </div>
            <div class="horizontal-scroll__item" style="flex:0 0 215px;">
              <p class="tag_4">
                <ion-icon src="assets/icon/types-mechanic/car-mechanic-general.svg"></ion-icon> <span
                  class="title-category">Mecánica general</span>
              </p>
            </div>
            <div class="horizontal-scroll__item"  style="flex:0 0 215px;">
              <p class="tag_5">
                <ion-icon src="assets/icon/types-mechanic/change-oil.svg"></ion-icon> <span
                  class="title-category">Cambio de
                  aceite</span>
              </p>
            </div>
          </div>
        </div>

        <div class="cuality-store">
          <div class="schedules">
            <ion-icon src="assets/icon/general/calendar.svg"></ion-icon>
            <div class="schedule">
              <div class="content-schedule">
                <span class="day">Lunes a viernes de </span> <span class="hours">8:00am a 5:00pm</span>
              </div>
              <div class="content-schedule">
                <span class="day">Sábados de </span> <span class="hours">8:00am a 5:00pm</span>
              </div>
            </div>
          </div>
        </div>

        <div class="content-location">
          <div class="location">
            <div class="location-store" id="location-store"></div>
          </div>
          <div class="content-options-location">
            <div class="title-location">Como llegar</div>
            <div class="options-location">
              <div class="option-location">
                <img src="assets/img/location/maps.png" alt="">
              </div>
              <div class="option-location">
                <img src="assets/img/location/uber.png" alt="">
              </div>
              <div class="option-location">
                <img src="assets/img/location/waze.png" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</ion-content>
