.text-evaluate {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 16px;
  margin-left: 46px;
}

.icon-help {
  width: 52px !important;
  height: 52px;
  position: absolute;
  background-color: var(--ion-color-primary);
  border-radius: 0px 12px 12px 0px;
  left: 0;
  ion-icon {
    font-size: 36px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
    svg {
      fill: var(--ion-color-primary);
    }
  }
}
