ion-item:nth-child(1) {
  ion-input {
    width: 100%;
  }
}

ion-icon.pass {
  position: absolute;
  right: 16px;
  bottom: 8px;
  z-index: 9999;
}

ion-icon.icon-input {
  position: absolute;
  left: 8px;
  bottom: 8px;
}
