<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <app-search></app-search>

    <ion-card class="promotions">
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <div class="backdrop"></div>
      <div class="special-promo">Special Promo</div>
      <ion-card-content>
        <div class="discount">50% discount</div>
        <div class="store">AutoCar GT</div>
      </ion-card-content>
    </ion-card>

    <div class="section">
      <ion-toolbar>
        <ion-title class="title-section">Categorias</ion-title>
        <ion-buttons slot="end">
          <ion-button auto-hide="false">
            View all
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <div class="categories">
        <div class="horizontal-scroll">
          <div class="horizontal-scroll__item" *ngFor="let item of categories" style="flex: 0 0 82px;">
            <div class="content-category">
              <div class="category">
                <img src="assets/img/category/{{ item.background }}" alt="">
                <div class="backdrop"></div>
                <ion-icon src="assets/icon/category/{{ item.icon }}"></ion-icon>
              </div>
              <div class="title-category">{{ item.name }}</div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="section">
      <ion-toolbar>
        <ion-title class="title-section">Populars</ion-title>
        <ion-buttons slot="end">
          <ion-button auto-hide="false">
            View all
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <div class="stores">
        <ion-card *ngFor="let item of stores">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
              </ion-col>
              <ion-col size="8">
                <div class="content-store">
                  <div class="title-store">
                    <ion-icon src="assets/icon/general/store.svg"></ion-icon>
                    {{ item.name }}
                  </div>
                  <div class="address-store info-store">
                    <ion-icon src="assets/icon/general/location.svg"></ion-icon>
                    Ciudad de Guatemala
                  </div>
                  <div class="phone-store info-store">
                    <ion-icon src="assets/icon/general/phone.svg"></ion-icon>
                    (+502) 1234-5678
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </div>
    </div>

  </div>
</ion-content>
